body{
    color:#1a201d;
    background-color: #efe9e9;
    font-family: Verdana, sans-serif;
}

.menu_container{
    position: fixed;
    z-index: 1000;
    text-align: center;
    width: 100%;
}

.menu_container ul{

    display: inline-block;
    list-style: none;
}
.menu_container ul li {

    float: left;
    width: 300px;
    text-align: center;
    line-height: 50px;
    opacity: 0.9;
    font-size: 20px;
    background-color: lightgray;
    color: black;

}

.menu_container ul li:hover{
    background-color: darkgray;
    transition: background-color 0.5s;
}

.menu_container ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

.logo{
    width: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section p{
    margin: 50px;
    font-size: 25px;
    text-align: center;
}

section img{
    width: 500px;
}

section:nth-child(2){
    background: url("images/andy-vult-ASbxmrhbTKM-unsplash.jpg") no-repeat;
    background-size: 100%;
}
section:nth-child(3){
    color: #595957;
    background: #efe9e9;
}
section:nth-child(4){
    background: white;
    color: #595957;
}

section .container{
    margin: 100px;
}
section h1{
    font-size: 3rem;
    margin: 20px;
}
section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
section .text-container{
    display: flex;
}
section:nth-child(3) .text-container .text-box{
    margin: 20px;
    padding: 20px;
    background: white;
}
section:nth-child(4) .text-container .text-box{
    margin: 20px;
    padding: 20px;
    background: #efe9e9;
}

section .text-container .text-box h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.thumbnails{
    width: 500px;
}

@media (max-width: 900px){
    section h1{
        font-size: 2rem;
        text-align: center;
    }
    section .text-container{
        flex-direction: column;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
hr{
    color: transparent;
}

#main{
    width: 1000px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form{
    width: 600px
}
#form{
    width: 600px;
    float: right;
    margin-top: 100px;
}

.book_table_table{
    background-color: rgb(241, 233, 224);
    margin-top: 30px;
    width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 3px rgb(79, 69, 98);
}
.book_table_table th{
    text-align: right;
    font-weight: normal;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-right: 10px;
    padding-bottom: 5px;
    vertical-align: top;
    margin-top: 5px;
}
.book_table_table td{
    padding-left: 10px;
}
iframe{
    margin-left: 379px;
    margin-top: 50px;
    height: 400px;
}
#CONTACT{
    float: left;
    width:180px;
    margin-left: 60px;
    margin-top: 100px
}
#CONTACT h1{
    padding-bottom: 15px;

}
#CONTACT h2{
    padding-top: 8px;
}
#main .share .icon{
    background: url(images/bg_share.png) no-repeat;
    cursor: pointer;
    height: 22px;
    width: 22px;
    float:right;
    text-align: center;
    padding-top: 3px;
    margin: 15px 3px
}
#main .share .icon:hover{
    background: url(images/bg_share_active.png)
}


.menu_header {
    text-decoration-line: underline;
    letter-spacing: 15px;
    font-family: Georgia serif;
    font-size: 50px;
    color: #919191;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
}
.gallery_container{
    margin: 75px 55px 0 55px;
}
.gallery_container h2{
    font-family: Georgia serif;
    text-decoration-line: underline;
    letter-spacing: 15px;
    font-size: 50px;
    color: #919191;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}
.gallery {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.gallery .column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.image img {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}
#containermenu{
    text-align: center;
    padding-top: 5%;
}
.menu_dish{
    margin-bottom: 25px;
}
.menu_names{
    font-size: 30px;
    color: rgb(79, 15, 15);
    font-weight: bold;
    font-family: Georgia serif;  
    padding-top: 7px;  
}
.menu_veinid{
    padding-bottom: 2px;
    padding-top: 2px;
}
.menu_vein{
    font-size: 33px;
    font-weight: bold;
    color: rgb(43, 26, 75);
    font-family: Georgia serif;
    padding-bottom: 8px;
    padding-top: 5px;
}
.menu_contain{
    font-size: 25px;
    color: rgb(78, 62, 62);
    font-style: italic;
    font-family: Georgia serif
}
.menu_price{
    font-size: 27px;
    color: rgb(60, 59, 81);
    font-weight: bold;
    font-family: Georgia serif;
    padding-top: 3px;
}

