body{
    color:rgb(26, 32, 29);
    background-color: rgb(239, 233, 233);
    font-family: Verdana, sans-serif;
}

hr{
    color: transparent;
}

#main{
    width: 1000px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form{
    width: 600px
}
#form{
    width: 600px;
    float: right;
    margin-top: 80px;
}
table{
    border: dotted 1px rgb(244, 239, 239);
    background-color: rgb(241, 233, 224);
    margin-top: 30px;
    width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 3px rgb(216, 192, 53);
    box-shadow: 2px 3px 5px 3px rgb(255, 250, 176);
}
th{
    text-align: right;
    font-weight: normal;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-right: 10px;
    padding-bottom: 5px;
    vertical-align: top;
    margin-top: 5px;
}
td{
    padding-left: 10px;
}
iframe{
    margin-left: 379px;
    margin-top: 50px;
    height: 400px;
}
#CONTACT{
    float: left;
    width:150px;
    margin-left: 60px;
}
#CONTACT h1{
    padding-bottom: 15px;
}
#main .share .icon{
    background: url(bg_share.png) no-repeat;
    cursor: pointer;
    height: 20px;
    width: 22px;
    float:right;
    text-align: center;
    padding-top: 3px;
    margin: 15px 3px
}
#main .share .icon:hover{
    background: url(bg_share_active.png)
}

.menu_container{
    text-align: center;
}

ul.menu {
    display: inline-block;
    list-style: none;
}
ul.menu li {
    float: left;
    width: 300px;
    text-align: center;
    line-height: 50px;
    opacity: 0.9;
    font-size: 20px;
    background-color: lightgray;
    color: black;

}

ul.menu li:hover{
    background-color: darkgray;
    transition: background-color 0.5s;
}

ul.menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

#menu_table {
    border: none;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
}

.menu_td {
    font-size: 30px;
    color: gray;
    font-style: italic;
}

.menu_td_header {
    text-decoration-line: underline;
    letter-spacing: 15px;
    font-size: 50px;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}
.container{
    margin: 75px 55px 0 55px;
}
.container h2{
    text-decoration-line: underline;
    letter-spacing: 15px;
    font-size: 50px;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}
.gallery {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.gallery .column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.image img {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}



